.index {}

.content {
    .no-data-box{
        height: 3rem;
    }
    /*头部*/
    .content-top {
        height: 2.86rem;
        background: linear-gradient(360deg, rgba(254, 201, 92, 1) 0%, rgba(255, 123, 36, 1) 100%);

        .search-box {
            @include df;
            @include df-ai;
            padding: 0.36rem 0.3rem;

            .search {
                width: 6.04rem;
                height: 0.64rem;
                position: relative;

                .search-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 0.32rem;
                    opacity: 0.2;
                }

                form {
                    position: absolute;
                    height: 100%;
                    width: 100%;

                    input {
                        width: 100%;
                        padding: 0 0 0 0.96rem;
                        border: none;
                        background: none;
                        color: #fff;
                        height: 0.64rem;
                        line-height: 0.64rem;
                        font-size: 0.26rem;

                        &::-webkit-input-placeholder {
                            color: #fff;
                        }

                        &::-moz-input-placeholder {
                            color: #fff;
                        }

                        &::-ms-input-placeholder {
                            color: #fff;
                        }
                    }
                }

                .icon-search {
                    background: url("assets/images/icon_sousuo@2x.png") center center no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 0.48rem;
                    top: 0.16rem;
                    width: 0.32rem;
                    height: 0.32rem;
                    z-index: 2;
                }
            }

            .msg {
                width: 0.42rem;
                height: 0.42rem;
                margin-left: 0.34rem;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                }
                .msg-red {
                    position: absolute;
                    background-color: #FF0F0F;
                    width: 0.16rem;
                    height: 0.16rem;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                }
            }
            
        }

        .banner {
            width: 100%;
            height: 3.26rem;
            padding: 0 0.3rem;

            .banner-box {
                border-radius: 0.12rem;
                width: 100%;
                height: 100%;
                background-color: transparent;

                .van-swipe {
                    height: 100%;
                    border-radius: 0.12rem;
                    background:linear-gradient(157deg, rgba(254, 124, 36, 1) 0%, rgba(255, 106, 94, 1) 100%);
                    img {
                        width: 100%;
                        height: 3.26rem;
                    }
                }
            }
        }
    }

    /*产品内容*/
    .pro-content {
        /*产品类别列表*/
        .pro-type-list{
            @include df;
            @include fw-w;
            background:linear-gradient(180deg, rgba(255, 255, 255, 1) 80%, rgba(245, 245, 245, 1) 100%);
            padding:1.76rem 0 0.86rem 0;
            .pro-type-item{
                width: 25%;
                text-align: center;
                padding:0 0.32rem;
                margin-top:0.52rem;
                .item-img{
                    width:1.16rem;
                    height: 1.16rem;
                    border-radius: 50%;
                    background-color:#F4F5F4;
                    margin:0 auto;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
                .item-text{
                    color:#393939;
                    font-size: 0.28rem;
                    font-weight: 400;
                    line-height: 0.42rem;
                    margin-top:0.28rem;
                }
            }
        }
        /*产品块*/
        .pro-block-list{
            padding:0 0.32rem;
            .pro-block-item{
                margin-bottom: 0.3rem;
                border-radius: 0.12rem;
                .title{
                    color:#393939;
                    font-size: 0.3rem;
                    line-height: 0.92rem;
                    padding:0 0.28rem;
                }
                .item-banner{
                    width:100%;
                    height: 3.02rem;
                    img{
                        width:100%;
                        height: 100%;
                    }
                }
            }
            .item-pro-list{
                @include df;
                @include fw-w;
                overflow: hidden;
                .pro-item-inblock{
                    width:33.33%;
                    font-size: 0.26rem;
                    padding:0.14rem;
                    border-right: 0.02rem solid #F5F5F5;
                    &:nth-child(3){
                        border-right: none;
                    }
                    .inblock-img{
                        @include df;
                        @include df-ai;
                        @include df-jc;
                        width:2rem;
                        height: 2rem;
                        //border:0.02rem solid #979797;
                        background-color:#D8D8D8;
                        margin-bottom: 0.2rem;
                        img{
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                    .inblock-title{
                        color:#333;
                        font-weight: 400;
                        margin-bottom: 0.1rem;
                        width:100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space:nowrap;
                    }
                    .price{
                        margin-bottom: 0.1rem;
                    }
                }
                .f-bdt{
                    border:none;
                    border-top:0.02rem solid #F5F5F5;
                    &:nth-child(3) {
                        border-top: none;
                    }
                }
            }
        }
        .pro-con-list {
            padding: 0.2rem;
        }

        .list-box {
            @include df;
            @include fw-w;

            .list-item {
                @include fa;
                flex: inherit;
                width: 3.34rem;
                margin: 0.1rem;
                font-size: 0.26rem;
                padding: 0 0.16rem;
                border-radius: 0.08rem;

                .item-img {
                    @include df;
                    @include df-ai;
                    @include df-jc;
                    width: 100%;
                    height: 3.3rem;
                    padding: 0.2rem 0.05rem;

                    img {
                        max-height: 100%;
                        max-width: 100%;
                    }
                }

                .item-text {
                    color: #333;
                    line-height: 0.32rem;
                    min-height: 0.64rem;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin-bottom: 0.38rem;
                    overflow: hidden;
                }

                .item-price {
                    @include df;
                    @include df-jc-sb;
                    @include df-ai;
                    margin-bottom: 0.3rem;

                    .price {
                        line-height: 0.34rem;
                        font-size: 0.3rem;
                        span{
                            font-size: 0.26rem;
                        }
                    }

                    .icon-add-cart {
                        background: url('assets/images/icon-tianjia@2x.png') left top no-repeat;
                        background-size: 100% auto;
                        width: 0.42rem;
                        height: 0.42rem;
                    }
                }
            }
        }
        /*猜你喜欢*/
        .guess-you-like{
            .title{
                padding:0.2rem 0.32rem 0 0.32rem;
                color:#393939;
                font-size: 0.3rem;
            }
        }
    }
}

//加入购物车小球动画