/*订单列表*/
.order{
    padding-top:0.98rem;
    .title-right{
        position: fixed;
        top: 0;
        right: 0.03rem;
        height: 1rem;
        z-index: 3;
        .icon-shopcart{
            background: url('assets/images/icon_gouwuche@2x.png') center center no-repeat;
            background-size: 0.38rem 0.38rem;
            width:1rem;
            height: 100%;
        }
    }
    /*没有数据*/
    .noData {
        padding: 3rem 0;
        left:0;
    }
}
.msg-list{
    .order-item{
        padding:0.3rem;
        margin-bottom: 0.3rem;
        border-radius: 0.12rem;
        &-top{
            @include df;
            @include df-ai;
            @include df-jc-sb;
            font-size: 0.24rem;
            line-height: 0.34rem;
            margin-bottom: 0.38rem;
            .order-time{
                color:#999;
            }
            .order-state{

            }
        }
        &-pro{
            @include df;
            @include df-ai;
            margin-bottom: 0.24rem;
            .order-img{
                @include df;
                @include df-ai;
                width:1.3rem;
                height: 1.3rem;
                border:0.02rem solid #D2D2D2;
                img{
                    width:100%;
                }
            }
            .order-txt{
                flex:1;
                padding-left:0.24rem;
                .order-title{
                    @include df;
                    @include df-ai;
                    @include df-jc-sb;
                    color:#333;
                    font-size: 0.3rem;
                    margin-bottom: 0.1rem;
                    .title{
                        font-weight: 400;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    .num{
                        font-weight: 500;
                        span{
                            font-size: 0.24rem;
                        }
                    }
                }
                .order-specs{
                    @include df;
                    @include df-ai;
                    @include df-jc-sb;
                    color:#999;
                    font-size: 0.24rem;
                    .specs{
                        
                    }
                    .num{

                    }
                }
            }
        }
        &-total{
            text-align: right;
            font-size: 0.24rem;
            color:#333;
            margin-bottom: 0.46rem;
            span{
                font-size: 0.3rem;
                font-weight: 500;
            }
        }
        &-btn{
            @include df;
            @include fd-r-r;
            .order-btn{
                width:1.64rem;
                height: 0.6rem;
                font-size: 0.26rem;
                line-height: 0.6rem;
                border-radius: 0.04rem;
                color:#333;
                font-weight: 400;
                text-align: center;
                margin-left:0.24rem;
            }
            .order-btn-gay{
                border:0.02rem solid #E2E2E2;
            }
            .order-btn-colour{
                border:0.02rem solid #FF6702;
                color:#FF6702;
            }
        }
    }
}

/*物流*/
.logistics{
    padding-top:1rem;
}
.logistics-content{
    
}
.logistics-order {
    @include df;
    @include df-ai;
    padding:0.3rem;
    &-img{
        @include df;
        @include df-ai;
        position: relative;
        width:1.7rem;
        height: 1.7rem;
        border: 0.02rem solid #D2D2D2;
        img{
            width:100%;
        }
        span{
            position: absolute;
            bottom: 0;
            text-align: center;
            overflow: hidden;
            width:100%;
            height: 0.34rem;
            line-height: 0.34rem;
            color:#fff;
            font-size: 0.24rem;
            background-color:#000;
            opacity: 0.26;
        }
    }
    &-txt{
        flex:1;
        font-size: 0.26rem;
        color:#666;
        line-height: 0.32rem;
        padding-left:0.24rem;
        div{
            margin-bottom: 0.06rem;
        }
        .logistics-order-title{
            color:#333;
            margin-bottom: 0.24rem;
            span{
                color:#F38219;
            }
        }
    }
}
.logistics-msg{
    .van-step__title{
        h3{
            font-size: 0.26rem;
            color:#666;
            line-height: 0.38rem;
            margin-bottom: 0.16rem;
            font-weight: 400;
        }
        p{
            font-size: 0.24rem;
            color:#999;
            line-height: 0.34rem;
        }
    }
    .van-step--process{
        .van-step__circle-container {
            width: 0.32rem;
            height: 0.32rem;
            border-radius: 50%;
            background-color: #F38219;

            i {
                display: none;
            }
        }
    }
    .van-step__circle-container{
        width:0.2rem;
        height: 0.2rem;
        border-radius: 50%;
        background-color: #D3D3D3;
        i{
            display: none;
        }
    }
    .van-step--vertical{
        padding:0.23rem 0;
        &::after{
            border:none;
        }
    }
}

/*订单详情*/
.orderDetail{
    font-size: 0.26rem;
    color:#333;
    padding-bottom: 1rem;
    .detail-bottom {
        @include df;
        @include df-jc-fe;
        @include df-ai;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1rem;

        .detail-bottom-btn {
            width: 1.64rem;
            height: 0.6rem;
            line-height: 0.6rem;
            border: 0.02rem solid #E2E2E2;
            border-radius: 0.04rem;
            margin-right: 0.28rem;
            text-align: center;

            &.price {
                border: 0.02rem solid #FF6702;
            }
        }
    }
}
.order-detail-content{
    .order-detail-title{
        font-size: 0.48rem;
        font-weight: 500;
        line-height: 0.66rem;
        padding:0.4rem 0.62rem 0.7rem 0.62rem;
    }
    .detail-address{
        @include df;
        @include df-ai;
        padding:0.3rem 0.32rem;
        &-img{
            @include df;
            @include df-ai;
            width:0.58rem;
            margin-right: 0.34rem;
            img{
                width:100%;
            }
        }
        &-txt{
            flex: 1;
            line-height: 0.32rem;
            .txt-name{
                @include df;
                margin-bottom: 0.08rem;
                .name{
                    font-size: 0.3rem;
                    font-weight: 500;
                    margin-right: 0.22rem;
                }
                .phone{
                    color:#666;
                }
            }
            .txt-address{

            }
        }
    }
    .detail-goods{
        padding:0 0.32rem;
        &-title{
            font-size: 0.3rem;
            color:#333;
            font-weight: 500;
            line-height: 0.42rem;
            padding:0.32rem 0;
        }
        &-item{
            @include df;
            margin-bottom: 0.24rem;
            .item-img-box{
                @include df;
                @include df-ai;
                width:1.7rem;
                height: 1.7rem;
                border:0.02rem solid #D2D2D2;
                margin-right: 0.36rem;
                img{
                    width:100%;
                }
            }
            .item-con-box{
                flex: 1;
                padding-top:0.1rem;
                .item-con-title{
                    @include df;
                    @include df-ai;
                    @include df-jc-sb;
                    font-size: 0.3rem;
                    color:#333;
                    margin-bottom: 0.06rem;
                    .title{
                        font-weight: 400;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                    .con-price{
                        font-weight: 500;
                        span{
                            font: 0.24rem;
                        }
                    }
                }
                .item-con-type{
                    @include df;
                    @include df-ai;
                    @include df-jc-sb;
                    font-size: 0.24rem;
                    color:#999;
                }
            }
        }
        &-rules{
            @include df;
            @include df-ai;
            @include df-jc-sb;
            color:#666;
            line-height: 0.36rem;
            margin-bottom: 0.1rem;
        }
        &-total{
            @include df;
            @include df-jc-fe;
            line-height: 0.88rem;
            font-size: 0.24rem;
            .total-num{
                font-weight: 500;
                font-size:0.3rem;
                span{
                    font-size: 0.24rem;
                }
            }
        }
        .f-bdb{
            padding-bottom: 0.18rem;
        }
    }
    .detail-msg{
        padding:0.32rem 0.3rem;
        &-title{
            line-height: 0.42rem;
            font-size: 0.3rem;
            font-weight: 500;
            margin-bottom: 0.28rem;
        }
        &-item{
            color:#666;
            line-height: 0.36rem;
            margin-bottom: 0.12rem;
            span{
                &:first-child{
                    padding-right: 0.4rem;
                }
            }
        }
    }
}