/*我的页面*/
.user{
    &-content{

    }
    .sign-out{
        padding:0.3rem;
        margin-top:2rem;
    }
}
.user-top{
    background:linear-gradient(128deg, rgba(250, 150, 57, 1) 0%, rgba(242, 127, 20, 1) 100%);
    height: 3.54rem;
    color:#fff;
    overflow: hidden;
    .user-top-set{
        @include df;
        @include df-ai;
        @include df-jc-sb;
        padding:0.32rem;
        .set-img{
            width:0.44rem;
            height: 0.42rem;
        }
        .msg-img{
            width:0.44rem;
            height: 0.44rem;
            position: relative;
            span{
                position: absolute;
                background-color:#FF0F0F;
                width:0.16rem;
                height:0.16rem;
                top:0;
                right: 0;
                border-radius: 50%;
            }
        }
        img{
            width:100%;
        }
    }
    .user-msg{
        @include df;
        @include df-ai;
        @include df-jc-sb;
        margin-top:0.24rem;
        .user-msg-txt{
            @include df;
            @include df-ai;
            padding-left:0.3rem;
            .user-msg-head{
                width:1.32rem;
                height: 1.32rem;
                img{
                    width:100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .user-msg-name{
                @include df;
                @include fd-c;
                text-align: left;
                padding-left:0.3rem;
                .name{
                    font-size: 0.36rem;
                    line-height: 0.5rem;
                }
                .phone{
                    font-size: 0.3rem;
                    line-height: 0.42rem;
                }
            }
        }
        .user-msg-integral{
            background:linear-gradient(223deg, rgba(254, 164, 49, 1) 0%, rgba(254, 197, 54, 1) 100%);
            height: 0.56rem;
            line-height: 0.56rem;
            border-radius: 0.36rem;
            margin-right: -0.24rem;
            padding:0 0.4rem 0 0.24rem;
            span{
                font-size: 0.22rem;
            }
        }
    }
}
.user-order{
    border-radius: 0.12rem 0.12rem 0 0;
    margin-top:-0.36rem;
    .user-order-title{
        @include df;
        @include df-ai;
        @include df-jc-sb;
        padding:0.36rem 0.3rem;
        .title-l{
            color: #333;
            font-size: 0.38rem;
            line-height: 0.5rem;
        }
        .arrow-right{

        }
    }
    .order-list-icon{
        @include df;
        @include df-ai;
        @include df-jc-sa;
        padding:0.38rem 0 0.34rem 0;
        .icon-item{
            @include df;
            @include fd-c;
            @include df-ai;
            .icon-bg{
                width:0.56rem;
                height: 0.54rem;
                margin-bottom: 0.2rem;
            }
            .icon-bg1{
                background: url('assets/images/icon_quanbudingdan@2x.png') center center no-repeat;
                background-size: contain;
            }
            .icon-bg2 {
                background: url('assets/images/icon_daifukuan@2x.png') center center no-repeat;
                background-size: contain;
            }
            .icon-bg3 {
                background: url('assets/images/icon_daishouhuo@2x.png') center center no-repeat;
                background-size: contain;
            }
            .icon-bg4 {
                background: url('assets/images/icon_daipingjia@2x.png') center center no-repeat;
                background-size: contain;
            }
            span{
                font-size: 0.26rem;
                line-height: 0.36rem;
                color:#333;
            }
        }
    }
}
.user-tab-list{
    .user-tab-item{
        @include df;
        @include df-ai;
        @include df-jc-sb;
        padding:0.3rem 0.32rem;
        font-size: 0.3rem;
        color:#333;
        .user-tab-l{
            @include df;
            @include df-ai;
            .tab-item-bg{
                width:0.5rem;
                height: 0.5rem;
                margin-right: 0.4rem;
            }
            .tab-item-bg1{
                background: url('assets/images/icon_wodeshoucang@2x.png') center center no-repeat;
                background-size: contain;
            }
            .tab-item-bg2 {
                background: url('assets/images/icon_wodejifen@2x.png') center center no-repeat;
                background-size: contain;
            }
            .tab-item-bg3 {
                background: url('assets/images/icon_lipinyugoumai@2x.png') center center no-repeat;
                background-size: contain;
            }
            .tab-item-bg4 {
                background: url('assets/images/dizhiguanli@2x.png') center center no-repeat;
                background-size: contain;
            }
        }
        .arrow-right{

        }
    }
}

/*我的地址*/
.myAddress {
    padding-top:1rem;
    padding-bottom: 1rem;
    .fixed-btn{
        padding:0 0.3rem;
    }
}
.address-content{
    .address-list{
        .address-item{
            @include df;
            @include df-ai;
            padding:0.34rem 0.28rem 0.34rem 0.28rem;
            position: relative;
            .msg-txt{
                flex: 1;
                .address-item-txt {
                    @include df;
                    font-size: 0.3rem;
                    color: #333;
                    font-weight: 500;

                    div {
                        margin-right: 0.3rem;
                    }

                    .mark {
                        font-size: 0.24rem;
                        font-weight: 400;
                        color: #F38219;
                        line-height: 0.36rem;
                        height: 0.38rem;
                        border: 0.02rem solid #F38219;
                        border-radius: 0.04rem;
                        text-align: center;
                        padding: 0 0.16rem;
                    }
                }

                .address-item-ress {
                    font-size: 0.26rem;
                    color: #666;
                    line-height: 0.36rem;
                    margin-top: 0.18rem;
                }
            }
            .edit-txt{
                font-size: 0.26rem;
                color:#999;
                height: 0.46rem;
                line-height: 0.46rem;
                border-left: 0.02rem solid #DBDBDB;
                padding:0 0.2rem 0 0.4rem;
            }
            // &::after {
            //     content: '';
            //     position: absolute;
            //     right: 0;
            //     top: 50%;
            //     margin-top: -0.14rem;
            //     background: url('assets/images/icon_xuanze@2x.png') center center no-repeat;
            //     background-size: 0.16rem 0.28rem;
            //     width:0.16rem;
            //     height: 0.28rem;
            //     right: 0.34rem;
            // }
        }
    }
}

/*新增地址*/
.addSite{
    padding-top: 1rem;
    &-content{
        .field-mark{
            @include df;
            span{
                width:0.84rem;
                height: 0.5rem;
                line-height: 0.48rem;
                border:0.02rem solid #979797;
                border-radius: 0.04rem;
                margin-right: 0.3rem;
                color:#999;
                text-align: center;
                font-weight: 400;
                font-size: 0.24rem;
                &:last-child{
                    margin-right: 0;
                }
            }
            .active{
                color:#F38219;
                border:0.02rem solid #F38219;
            }
        }
        .field-input-gay{
            color:#999;
        }
        .df-field-mark{
            flex:1;
        }
        .icon-phone{
            background:url('assets/images/icon_tongxunlu@2x.png') center center no-repeat;
            background-size: 0.36rem 0.38rem;
            width:0.36rem;
            height: 0.38rem;
        }
        .addSite-tips{
            margin-top: 0.1rem;
            padding: 0.3rem;
            font-size: 0.26rem;
            color: #999;
        }
        .delete-btn {
            height: 1rem;
            line-height: 1rem;
            text-align: center;
            font-size: 0.3rem;
        }
    }
    .addSite-btn{
        padding:0 0.3rem;
        margin-top:0.78rem;
    }
    .collect-edit{
        position: fixed;
        color: #F38219;
        padding: 0 0.26rem;
        line-height: 1rem;
        top: 0;
        right: 0;
        z-index: 3;
    }
}

/*我的收藏*/
.collect{
    .collect-edit{
        position: fixed;
        color:#F38219;
        padding:0 0.26rem;
        line-height: 1rem;
        top:0;
        right: 0;
        z-index: 3;
    }
    .collect-content {
        padding-top:1rem;
    }
}
.collect-list{
    margin-bottom: 0.2rem;
    .collect-item{
        @include df;
        @include df-ai;
        padding:0.3rem;
        &:last-child{
            border:none;
        }
        .icon-checkbox{
            margin-right: 0.3rem;
        }
        &-img{
            @include df;
            @include df-ai;
            border:0.02rem solid #D2D2D2;
            width:1.7rem;
            height: 1.7rem;
            img{
                width:100%;
            }
        }
        &-txt{
            flex:1;
            padding-left:0.24rem;
            .title{
                font-size: 0.3rem;
                color:#333;
                margin-bottom: 0.1rem;
            }
            .specs{
                font-size: 0.26rem;
                color:#666;
                margin-bottom: 0.48rem;
            }
            .btn-box{
                @include df;
                @include df-ai;
                @include df-jc-sb;
                font-size: 0.24rem;
                .cancel-collect-box {
                    @include df;
                    @include df-ai;
                }
                .price{
                    font-size: 0.3rem;
                    span{
                        font-size: 0.24rem;
                    }
                }
                .icon-collect{
                    background:url('assets/images/icon_quxiaoshoucang @2x.png') center center no-repeat;
                    background-size: 0.34rem 0.34rem;
                    width:0.34rem;
                    height: 0.34rem;
                    margin-right: 0.12rem;
                }
                .cancel-collect{
                    font-size: 0.24rem;
                    color:#999;
                }
            }
        }
    }
}
.collect-edit-column{
    @include df;
    @include df-ai;
    @include df-jc-sb;
    position: fixed;
    width:100%;
    height: 1rem;
    bottom: 0;
    left:0;
    z-index: 2;
    .edit-column-l{
        @include df;
        padding-left:0.32rem;
        .icon-checkbox{
            margin-right: 0.18rem;
        }
    }
    .edit-column-r{
        color:#fff;
        height: 100%;
        line-height: 1rem;
        font-size: 0.3rem;
        width:2.24rem;
        text-align: center;
    }
}

/*设置页面*/
.setting{
    padding-top:0.98rem;
    &-content{
        .user-head{
            background:url('assets/images/user_head@2x.png') center center no-repeat;
            background-size: 0.7rem 0.7rem;
            width:0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            margin-right: 0;
        }
        .change-head{
            position: absolute;
            top:0.98rem;
            left:0;
            width:100%;
            height: 1rem;
            opacity: 0;
        }
    }
}

/*礼品申请*/
.giftLication{
    padding-top:0.98rem;
    &-content{
        .gift-btn{
            margin-top:0.78rem;
            padding:0 0.3rem;
            .price{
                font-size: 0.3rem;
                line-height: 0.42rem;
                margin-top: 0.4rem;
                text-align: center;
            }
        }
    }
}

/*预选购礼品*/
.giftList{
    .gift-list-content{
        position: relative;
        // .noData{
        //     left:0;
        // }
    }
    .msg-list-box {
        border-radius: 0.12rem;
        .order-item{
            margin-bottom: 0;
            padding-bottom: 0;
            border-radius: 0;
        }
        .link-msg{
            padding:0.2rem 0.32rem;
            &-item{
                @include df;
                @include df-ai;
                @include df-jc-sb;
                line-height: 0.42rem;
                font-size: 0.26rem;
                color:#666;
                span{
                    &:last-child{
                        color:#333;
                    }
                }
            }
        }
    }
}

/*修改手机号、修改密码*/
.modifyPhone{
    padding-top:0.98rem;
    .modify-btn{
        padding:0 0.3rem;
        margin-top:0.7rem;
    }
    .modify-pass-list {
        padding-bottom: 0.62rem;
    }
}

/*评价中心*/
.evaluateContent{
    padding-top:0.98rem;
    .msg-list-eva{
        padding:0.3rem;
        .msg-list-item {
            color:#333;
            border-radius: 0.12rem;
            padding:0.32rem 0.28rem;
            overflow: hidden;
            margin-bottom: 0.3rem;
        }
        .item-con {
            @include df;
            @include df-ai;
            &-img{
                @include df;
                @include df-ai;
                @include df-jc;
                width:1.7rem;
                height: 1.7rem;
                border:0.02rem solid #D2D2D2;
                img{
                    max-width:100%;
                    max-height: 100%;
                }
            }
            &-txt{
                @include df-as-fs;
                flex: 1;
                padding-left:0.34rem;
                .title{
                    font-size: 0.3rem;
                    font-weight: 500;
                    height: 0.64rem;
                    line-height: 0.32rem;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    margin-bottom: 0.3rem;
                    margin-top:0.08rem;
                }
                .num{
                    span{
                        font-size: 0.26rem;
                        padding-right: 0.08rem;
                    }
                    .van-rate{
                        vertical-align: middle;
                    }
                }
                .txt-btn{
                    @include df;
                    @include df-ai;
                    @include df-jc;
                    float:right;
                    font-size: 0.26rem;
                    width:1.44rem;
                    height: 0.5rem;
                    border:0.02rem solid #F38219;
                    border-radius: 0.04rem;
                    margin-top:0.14rem;
                }
            }
        }
        .item-text{
            font-size: 0.3rem;
            line-height: 0.34rem;
            margin-top: 0.36rem;
        }
    }
}

/*发布评价*/
.publishEvaluate{
    .publish-bottom {
        @include df;
        @include df-ai;
        @include df-jc-sb;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1rem;

        .anonymous {
            @include df;
            color: #333;
            font-size: 0.26rem;

            .icon-checkbox {
                margin:0 0.18rem 0 0.32rem;
            }
        }

        .publish-bottom-btn {
            width:2.98rem;
            height: 100%;
            color:#fff;
            font-size: 0.3rem;
            text-align: center;
            line-height: 1rem;
        }
    }
}
.publish-evaluate-con {
    padding-top:1.02rem;
    .publish-page{
        padding:0.3rem 0.3rem 0.08rem 0.3rem;
    }
    .page-goods{
        @include df;
        @include df-ai;
        margin-bottom: 0.4rem;
        &-img{
            width:1.04rem;
            height: 1.04rem;
            border:0.02rem solid #D2D2D2;
            img{
                max-width: 100%;
                max-height: 100%;
            }
        }
        &-text{
            flex: 1;
            padding-left:0.2rem;
            .title{
                font-size: 0.3rem;
                color:#333;
                margin-bottom: 0.24rem;
                line-height: 0.34rem;
                max-height: 0.66rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .specs{
                font-size: 0.24rem;
                color:#999;
            }
        }
    }
    .evaluate-num{
        @include df;
        @include df-ai;
        font-size: 0.3rem;
        color:#333;
        padding-bottom: 0.28rem;
        span{
            padding-right: 0.3rem;
        }
    }
    .evaluate-text{
        @include df;
        textarea{
            width:100%;
            height: 1.8rem;
            border:none;
            resize:none;
            padding:0.3rem 0;
        }
    }
    .upload-images{
        .van-uploader__upload{
            background:url('assets/images/shangchuanzhaopian@2x.png') center center no-repeat;
            background-size: 100% 100%;
            border:none;
            margin:0 0.24rem 0.22rem 0;
            width:1.92rem;
            height: 1.92rem;
        }
        .van-uploader__preview{
            margin:0 0.24rem 0.22rem 0;
        }
        .van-uploader__preview-image{
            width:1.92rem;
            height: 1.92rem;
        }
        .van-icon-plus {
            display: none;
        }
    }
}

/*评价成功*/
.evaluateSuccess{
    .evaluate-success-top{
        background:linear-gradient(128deg, rgba(250, 150, 57, 1) 0%, rgba(242, 127, 20, 1) 100%);
        height: 4.7rem;
        width: 100%;
        color:#fff;
        text-align: center;
        .title{
            padding:0.34rem;
            margin-bottom: 0.36rem;
            &-icon{
                float: left;
                background: url('assets/images/icon_fanhui@2x.png') left center no-repeat;
                background-size:0.18rem 0.32rem;
                width:0.32rem;
                height: 0.32rem;
            }
            &-txt{
                font-size:0.34rem;
                line-height: 0.34rem;
                font-weight: 400;
            }
        }
        .top-tip{
            @include df;
            @include df-jc;
            margin-bottom: 0.26rem;
            .tip-icon{
                background: url('assets/images/evaluate_success.png') center center no-repeat;
                background-size: 100% 100%;
                width:0.42rem;
                height: 0.42rem;
                margin-right:0.16rem;
            }
            .tip-txt{
                font-size: 0.34rem;
                line-height: 0.42rem;
            }
        }
        .top-txt{
            font-size: 0.26rem;
            line-height: 0.26rem;
            margin-bottom: 0.54rem;
        }
        .top-btn{
            margin: 0 auto;
            width:2.24rem;
            height: 0.7rem;
            line-height: 0.7rem;
            font-size: -.28rem;
            border:0.02rem solid #fff;
            border-radius:0.04rem;
        }
    }
    .continue-evaluate{
        border-radius: 0.12rem 0.12rem 0 0;
        overflow: hidden;
        margin-top:-0.5rem;
        &-title{
            font-size: 0.28rem;
            color:#333;
            text-align: center;
            line-height: 0.28rem;
            padding:0.32rem;
        }
        &-list{
            .msg-list-item {
                color: #333;
                padding: 0 0.28rem;
                overflow: hidden;
            }
            .item-con {
                @include df;
                @include df-ai;
                padding:0.32rem 0;
                &-img {
                    @include df;
                    @include df-ai;
                    @include df-jc;
                    width: 1.7rem;
                    height: 1.7rem;
                    border: 0.02rem solid #D2D2D2;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
                &-txt {
                    @include df-as-fs;
                    flex: 1;
                    padding-left: 0.34rem;
                    .title {
                        font-size: 0.3rem;
                        font-weight: 500;
                        height: 0.64rem;
                        line-height: 0.32rem;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        margin-bottom: 0.3rem;
                        margin-top: 0.08rem;
                    }
                    .txt-btn {
                        @include df;
                        @include df-ai;
                        @include df-jc;
                        float: right;
                        font-size: 0.26rem;
                        width: 1.44rem;
                        height: 0.5rem;
                        border: 0.02rem solid #F38219;
                        border-radius: 0.04rem;
                        margin-top: 0.14rem;
                    }
                }
            }
        }
    }
}

