.login{
    &-content{
        .operation-box{
            text-align: center;
            color:#F38219;
            margin-top:0.54rem;
            line-height: 0.36rem;
            span{
                padding:0 0.31rem;
                font-size: 0.3rem;
            }
        }
        &-box{
            position: relative;
            width:100%;
            padding:0 0.3rem;
        }
    }
    &-top{
        position: relative;
        background:url('assets/images/login_bg.png') top left no-repeat;
        background-size: 100%;
        width:100%;
        height: 5.42rem;
        &-msg{
            position: absolute;
            top: 1.34rem;
            left:0.82rem;
            p{
                color:#fff;
                font-size: 0.52rem;
                line-height: 0.66rem;
                font-weight: 400;
            }
        }
        .lication-settle{
            position: absolute;
            top:0.2rem;
            right: 0.24rem;
            background:url('assets/images/gonghuoshang@2x.png') center center no-repeat;
            background-size: 100% 100%;
            height: 0.82rem;
            width:3.16rem;
        }
    }
    &-form{
        border-radius: 0.12rem;
        margin-top:-1.94rem;
        padding:0.54rem 0.5rem 0.42rem 0.5rem;
        font-size: 0.3rem;
        &-title{
            color:#F38219;
            font-weight: 400;
            line-height: 0.42rem;
            margin-bottom: 0.25rem;
            font-size: 0.34rem;
        }
        &-item{
            @include df;
            @include df-ai;
            position: relative;
            height: 1.08rem;
            .icon-phone{
                width:0.3rem;
            }
            .icon-password{
                width:0.36rem;
            }
            .get-code{
                min-width:1.5rem;
                height: 0.52rem;
                line-height: 0.52rem;
                border:0.02rem solid #F38219;
                color:#F38219;
                text-align: center;
                border-radius: 0.04rem;
                font-size: 0.24rem;
                position: absolute;
                right: 0;
            }
            input{
                flex:auto;
                padding-left:0.48rem;
            }
        }
        .big-btn{
            margin-top:0.7rem;
        }
        .go-index{
            @include df;
            @include df-ai;
            @include df-jc;
            text-align: center;
            font-size: 0.28rem;
            margin-top: 0.48rem;
            color:#999;
            span{
                background:url('assets/images/go_index_icon.png') center center no-repeat;
                background-size: 0.32rem 0.3rem;
                width:0.32rem;
                height: 0.32rem;
                margin-right: 0.14rem;
            }
        }
    }
}
/*申请入驻*/
.licationSettle{
    padding-top:1rem;
}
.lication-btn {
    padding: 0.8rem 0.3rem;
}
/*申请成功*/
.licationSuccess{
    .pay-content-title{
        font-weight: 500;
        font-size: .38rem;
    }
    .pay-content-price{
        padding:0 .8rem;
        margin-bottom: .28rem;
        font-size: 0.26rem;
        color:#666;
    }
    .lication-tips{
        font-size: .26rem;
        color:#666;
        line-height: .42rem;
    }
    .paySuccess-content{
        padding-top:0.92rem;
        .pay-content-bg{
            margin-bottom: 0.56rem;
        }
        .pay-content-title{
            font-size: 0.36rem;
            margin-bottom: 0.38rem;
        }
        .lication-process{
            img{
                width:100%;
            }
            &-img{
                padding:0 0.82rem;
                margin-bottom: 0.96rem;
            }
        }
    }
}
/*入驻供货商*/
.licationGain{
    padding-top:1rem;
    .gain-content{
        padding:0.34rem;
        &-box{
            .banner{
                width:100%;
                margin-bottom: 0.66rem;
            }
            .gain-item{
                padding-bottom: 0.6rem;
                .title{
                    margin-bottom:0.2rem;
                    color:#F38219;
                    font-size: 0.44rem;
                    padding-left:0.34rem;
                    position: relative;
                    &::before{
                        content: '';
                        display: inline-block;
                        width:0.12rem;
                        height: 0.12rem;
                        background-color:#F38219;
                        border-radius: 50%;
                        position: absolute;
                        left:0;
                        top:50%;
                        margin-top:-0.06rem;
                    }
                }
                .text{
                    color:#666;
                    font-size: 0.28rem;
                    line-height: 0.4rem;
                }
            }
            .gain-tarm{
                padding:0.74rem 0;
                .title{
                    @include df;
                    @include df-ai;
                    @include df-jc;
                    margin-bottom:0.34rem;
                    color:#F38219;
                    font-size: 0.44rem;
                    //line-height: 0.66rem;
                    text-align: center;
                    &::before{
                        content: '';
                        display: inline-block;
                        width:0.12rem;
                        height: 0.12rem;
                        background-color:#F38219;
                        border-radius: 50%;
                        margin-right:0.24rem;
                    }
                    &::after{
                        content: '';
                        display: inline-block;
                        width:0.12rem;
                        height: 0.12rem;
                        background-color:#F38219;
                        border-radius: 50%;
                        margin-left:0.24rem;
                    }
                }
                .text{
                    color:#333;
                    font-size: 0.3rem;
                    line-height: 0.6rem;
                }
            }
            .gain-contact{
                font-size: 0.24rem;
                color:#999;
                margin-top:0.2rem;
            }
        }
        .gain-tips{
            @include df;
            @include df-jc;
            font-size: 0.26rem;
            color:#999;
            margin-bottom: 0.3rem;
            .icon-checkbox{
                margin-right: 0.18rem;
            }
        }
        .lication-btn{
            padding:0.8rem 0 0.46rem;
        }
    }
}
